<mat-toolbar color="dark">

    <mat-toolbar-row>
     <div class="row between-xs middle-xs header-row">
      <nav>
        
        <button mat-icon-button  >
            <img src="{{Icon}}" width="56px">
         </button>
        <!-- <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a> -->
      </nav>
     
     
     </div>
      
    
    
    
    </mat-toolbar-row>
    </mat-toolbar>
    
    